@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  font-size: 16px;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}

@media only screen and (max-width: 876px) {
  body {
    height: auto;
  }
}

@media only screen and (max-width: 375px) {
  body {
    overflow: visible;
    height: auto;
    width: auto;
  }
}

h2,
p,
.fab {
  color: white;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 150px;
  max-width: 150px;
  height: 40px;
  border: 0;
  border-radius: 50px;
  color: #674baf;
  -webkit-box-shadow: black 0px 0px 0.3em;
          box-shadow: black 0px 0px 0.3em;
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  button {
    width: 180px;
    max-width: 180px;
    margin-top: 1.5em;
  }
}

button:active {
  color: white;
  background-color: #e882e8;
}

main {
  width: 1240px;
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5em;
  padding: 4em 4em;
  background: #674baf url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 90% 100%;
}

@media only screen and (max-width: 876px) {
  main {
    background: #674baf url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  main {
    gap: 1.8em;
    padding: 2em;
    height: 100%;
  }
}

header img {
  width: 190px;
}

@media only screen and (max-width: 375px) {
  header img {
    width: 130px;
  }
}

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4em;
}

@media only screen and (max-width: 876px) {
  .showcase {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 375px) {
  .showcase {
    gap: 2.5em;
  }
}

.showcase-img {
  width: 100%;
}

.showcase-img img {
  width: 100%;
}

.showcase-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.3em;
}

@media only screen and (max-width: 876px) {
  .showcase-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.showcase-content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.7em;
}

@media only screen and (max-width: 375px) {
  .showcase-content h2 {
    font-size: 1em;
  }
}

.showcase-content p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 375px) {
  .showcase-content p {
    font-size: 0.8em;
  }
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

@media only screen and (max-width: 876px) {
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 3em;
  }
}

@media only screen and (max-width: 375px) {
  footer {
    padding-bottom: 0;
  }
}

.fab {
  font-weight: 300;
  font-size: 1em;
  border: white 1px solid;
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  .fab {
    font-size: 0.8em;
  }
}

.fab:active {
  color: #e882e8;
  border-color: #e882e8;
}

.fa-instagram {
  border-radius: 15px;
  padding: 0.4em;
}

.fa-facebook-f {
  border-radius: 15px;
  padding: 0.4em 0.55em;
}

.fa-twitter {
  border-radius: 15px;
  padding: 0.4em;
}
/*# sourceMappingURL=styles.css.map */